@import 'tailwindcss';

@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans-Bold.ttf') format('woff2'),
       url('../fonts/DroidSans.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Droid Sans', sans-serif;
}
.bg-\[url\(\/backgroundPhoto\.jpg\)\] {
  background-image: url(/backgroundPhoto.jpg);
}
